*{
    margin: 0;
    padding: 0;

}
table{
    border: 1px solid #000 ;
}
table tr td ul li {
    list-style: none !important;
    float: left;
    padding: 3px;
}
table tr td{
    border: 1px solid #000;
}

.main{
    width: 600px;
    margin: 0 auto;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 540px;
    height:auto;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
}
p{
    margin-top: 37px;
}
